.footer-flex {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.footer-iconbox {
    display: flex;
    gap: 25px;
}

.footer-icon {
    font-size: 25px;
    color: var(--color-dark-grey);
}

.footer-rights-txt {
    color: var(--color-dark-grey);
}