@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

:root {
  --font-base: "Roboto", sans-serif;
  --font-alt: "Crimson Text", serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #696969;
  --color-dark-grey: #868686;
  --color-blue: #007dc5;
  --color-grey-imgbox: #D9D9D9;
  --color-light-grey-imgbox: #F5F4F4;
  --max-width: 1170px;
  --fixed-width: 620px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* font-family: sans-serif; */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.underline {
  text-decoration: underline !important;
}

.underline:hover {
  text-decoration: none !important;
}

strong,
b {
  font-weight: bold;
}

i {
  font-style: italic;
}

.main_wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
}

.base_wrapp {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 12px auto;
}

.d-flex {
  display: flex !important;
}

.fd-column {
  flex-direction: column !important;
}

.jc-sb {
  justify-content: space-between !important;
}

.text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  margin: 0px;
}

.link_btn {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 300;
  font-size: 15.3482px;
  line-height: 18px;
  /* identical to box height */
  color: var(--color-blue);
  text-transform: capitalize;
  border: none;
  background: transparent;
  cursor: pointer;
}

.h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}

.h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;
}

.h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;

  color: #696969;
}

.txt_big {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #696969;
}

.txt_small {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-transform: capitalize;
  color: #000000;
}


.extra-txt_small {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  text-align: center;

  color: #000000;
}